@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_reset\.scss}line{font-family:\000032}}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_reset\.scss}line{font-family:\000038}}
body {
  width: 100%;
  height: 100vh;
  background-color: #d6e2f0;
  display: flex;
  align-items: center;
  justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_layout\.scss}line{font-family:\000031}}
.main-content {
  width: 300px;
  background-color: white;
  padding: 1rem;
  border-radius: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_layout\.scss}line{font-family:\000036}}
  .main-content .img {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_layout\.scss}line{font-family:\000038}}
    .main-content .img img {
      width: 100%;
      border-radius: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_layout\.scss}line{font-family:\0000314}}
  .main-content .info {
    margin-top: 1rem;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_layout\.scss}line{font-family:\0000317}}
    .main-content .info .info__heading {
      font-family: "Outfit", sans-serif;
      font-size: 1.3rem;
      color: #1f3251;
      padding-bottom: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Fattani\%20Computers\/Documents\/QR-Code-Generator\/sass\/globals\/_layout\.scss}line{font-family:\0000325}}
  .main-content .info__para {
    color: #7b879d;
    font-family: "Outfit", sans-serif;
    padding: 0 0.5rem 2rem 0.5rem;
    font-size: 15px; }
